# Mac
.DS_Store

# IDEs
.vscode/
.idea/
*.iml

# Node
node_modules/
npm-debug.log

# Backend Secrets & Data
backend/config.php
backend/*.db
backend/*.sqlite
backend/*.log
backend/logs/*
!backend/logs/.gitkeep
backend/sql/*.sql
*.sql
*.csv
*.xlsx

# Flutter (delegated to app/.gitignore mostly, but good to have here too)
.dart_tool/
build/
.pub-cache/
.packages
pubspec.lock

#other
4068594.jpg